.intro__list {
  margin: 33px 0 0 0;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .intro__list {
    font-size: 12px;
    line-height: 18px;
    margin: 34px 0 0 0;
  }
}
